#lf{
  float: left;
  margin-left: 20px;
}
#rg{
  padding-left: 600px;
}
#a,#b,#c,#d,#e{
  padding-right: 35px;
}
header{
  margin-top: 20px;
  
}
#container{
  border: 100px thick white;
  margin-top: 25px;
  background-color: whitesmoke;
}
#left{
  color: rgb(190, 190, 219);
  width: 800px;
  float: left;
  height: 820px;

}
#right{
  border: 1px solid black;
  height: 830px;
  margin-left: 820px;
  background-color: white;
}
#left1{
  height: 270px;
  border: 3px solid;
  background-color: white;
}
#left2,#left3{
  height: 273px;
  border: 3px solid;
  background-color: white;
}

img{
  height: 160px;
  width: 240px;
  float: left;
}
#right1{
  text-align: center;
}
#right2{
  text-align: center;
  /* height: 100px; */
}
#right3,#right4,#right5,#right6{
  text-align: center;
}
hr{
  color: black;
}
button{
  background-color: rgb(105, 207, 235);
  margin-top: 55px;
}
#sp{
  font-size: 25px;
}
p,h4{
  color: black;
}
